<section>
    {{#with room}}
    <h1 class="item">{{name}} - Details</h1>
    <div class="item padded">
        <main class="layout right large">
            <div class="col">
                <img src="{{imgURL}}" alt="">
            </div>
            <div class="content pad-med">
                <p>City: {{City}}</p>
                <p>{{description}}</p>
                <div class="align-center">
                    <p><strong>Price per night: {{price}}€</strong></p>
                </div>

                <a class="action cta" href="/facility/{{_id}}/decorateRoom">Edit Facilities</a>
            </div>
        </main>
    </div>
    {{/with}}
</section>